<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
 
    <!--Orleans系统表数据库链接-->
    <add name="KWKYOrleans" connectionString="Server=192.168.1.30;Database=OrleansDemo;Uid=kwjq;Pwd=Test123;"/>
    <!--业务表表数据库链接-->
    <add name="KWKY_FORM" connectionString="Server=192.168.1.30;Database=kwky_form;Uid=root;Pwd=Test123;"/>
  </connectionStrings>
  <appSettings>
    <!--本机ip地址-->
    <add key="LocalIpAddress" value="192.168.1.103"/>
    <!--Silo-Silo通信端口-->
    <add key="SiloPort" value="11111"/>
    <!--Client-Silo通信端口-->
    <add key="GatewayPort" value="30000"/>
    <!--全局Grain生命周期 （分钟）-->
    <add key="GlobalGrainCollectAgeMinute" value="60"/>
    <!--共四项： Default,Form,DataIndex,MetaFhir-->
    <add key="ApplicationParts" value="Default,Form,DataIndex,MetaFhir"/>
  </appSettings>

</configuration>